<style>
  .container {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(167, 218, 220);
    border-radius: 20px 0px 20px 0px;
    box-shadow: 10px 10px 10px rgba(162, 195, 212, 0.842);
  }
</style>
<% if (locals.user) {%>
<div class="container mt-4 col-md-5 p-3">
  <h4 style="text-align: center;">Edit student details</h4>
  <hr>
  <form class="row g-3 mt-1 " style="padding-left: 20px;padding-right: 20px;" action="/student/update/<%= student_details.id %>" method="POST">

    <div class="col-12">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" placeholder="Enter student name" id="name" name="name" value=" <%= student_details.name %>" required />
    </div>

    <div class="col-12">
      <label for="college" class="form-label">college</label>
      <input type="text" class="form-control" placeholder="Enter student college" id="college" name="college" value="<%= student_details.college %>" required />
    </div>

    <div class="col-md-6">
      <label for="placement-status" class="form-label">Placement status</label>
      <select id="placement-status" class="form-select" required name="placement_status">
        <option selected>Not placed</option>
        <option>Placed</option>
      </select>
    </div>

    <div class="col-md-6">
      <label for="batch" class="form-label">Batch</label>
      <input type="text" class="form-control" id="batch" placeholder="Enter batch no." name="batch" value="<%= student_details.batch %>" required />
    </div>

    <div class="col-md-4">
      <label for="dsa-score" class="form-label">DSA score</label>
      <input type="text" class="form-control" id="dsa-score" name="dsa_score" value="<%= student_details.dsa_score %>" required />
    </div>


    <div class="col-md-4">
      <label for="webdev-score" class="form-label">WebDev score</label>
      <input type="text" class="form-control" id="webdev-score" name="webdev_score" value="<%= student_details.webdev_score %>" required />
    </div>


    <div class="col-md-4">
      <label for="react-score" class="form-label">React score</label>
      <input type="text" class="form-control" id="react-score" name="react_score" value="<%= student_details.react_score %>" required />
    </div>

    <div class="update mt-4" style="text-align: center;">
      <button type="submit" style="padding-left: 30px; padding-right: 30px;" class="btn btn-primary">Update</button>
    </div>

  </form>
</div>
</div>

<%} %>